In [3]:
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('books_1.Best_Books_Ever.csv')

In [5]:
books.head(1)

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09

In [6]:
books= books[['bookId','title','series','author','rating','description','genres',]]

In [7]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52478 entries, 0 to 52477
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bookId       52478 non-null  object
 1   title        52478 non-null  object
 2   series       23470 non-null  object
 3   author       52478 non-null  object
 4   rating       52478 non-null  float64
 5   description  51140 non-null  object
 6   genres       52478 non-null  object
dtypes: float64(1), object(6)
memory usage: 2.8+ MB

In [8]:
books.isnull().sum()

bookId             0
title              0
series         29008
author             0
rating             0
description     1338
genres             0
dtype: int64

In [9]:
books.dropna(inplace=True)

In [10]:
books.isnull().sum()

bookId         0
title          0
series         0
author         0
rating         0
description    0
genres         0
dtype: int64

In [11]:
books.iloc[0].genres

"['Young Adult', 'Fiction', 'Dystopia', 'Fantasy', 'Science Fiction', 'Romance', 'Adventure', 'Teen', 'Post Apocalyptic', 'Action']"

In [12]:
books['tags'] =  books['description'] + books['author'] + books['series'] + books['rating'].fillna('').astype(str)

In [13]:
books.head(10)

,bookId,title,series,author,rating,description,genres,tags
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPrÃ© (Illustrator)",4.50,There is a door at the end of a silent corrido...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",There is a door at the end of a silent corrido...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",The unforgettable novel of a childhood in a sl...
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",About three things I was absolutely positive.\...
7,11127.The_Chronicles_of_Narnia,The Chronicles of Narnia,The Chronicles of Narnia (Publication Order) #1â€“7,"C.S. Lewis, Pauline Baynes (Illustrator)",4.26,"Journeys to the end of the world, fantastic cr...","['Fantasy', 'Classics', 'Fiction', 'Young Adul...","Journeys to the end of the world, fantastic cr..."
8,30.J_R_R_Tolkien_4_Book_Boxed_Set,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,The Lord of the Rings #0-3,J.R.R. Tolkien,4.60,"This four-volume, boxed set contains J.R.R. To...","['Fantasy', 'Fiction', 'Classics', 'Adventure'...","This four-volume, boxed set contains J.R.R. To..."
11,386162.The_Hitchhiker_s_Guide_to_the_Galaxy,The Hitchhiker's Guide to the Galaxy,The Hitchhiker's Guide to the Galaxy #1,Douglas Adams,4.22,Seconds before the Earth is demolished to make...,"['Science Fiction', 'Fiction', 'Humor', 'Fanta...",Seconds before the Earth is demolished to make...
14,968.The_Da_Vinci_Code,The Da Vinci Code,Robert Langdon #2,Dan Brown (Goodreads Author),3.86,ISBN 9780307277671 moved to this edition.While...,"['Fiction', 'Mystery', 'Thriller', 'Suspense',...",ISBN 9780307277671 moved to this edition.While...
17,24213.Alice_s_Adventures_in_Wonderland_Through...,Alice's Adventures in Wonderland & Through the...,Alice's Adventures in Wonderland #1-2,"Lewis Carroll, John Tenniel (Illustrator), Mar...",4.06,"""I can't explain myself, I'm afraid, sir,"" sai...","['Classics', 'Fantasy', 'Fiction', 'Childrens'...","""I can't explain myself, I'm afraid, sir,"" sai..."
21,13335037-divergent,Divergent,Divergent #1,Veronica Roth (Goodreads Author),4.19,"In Beatrice Prior's dystopian Chicago world, s...","['Young Adult', 'Dystopia', 'Fiction', 'Fantas...","In Beatrice Prior's dystopian Chicago world, s..."

In [14]:
new_df=books[['bookId','title','genres','tags',]]

In [15]:
new_df

,bookId,title,genres,tags
0,2767052-the-hunger-games,The Hunger Games,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",There is a door at the end of a silent corrido...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"['Classics', 'Fiction', 'Historical Fiction', ...",The unforgettable novel of a childhood in a sl...
4,41865.Twilight,Twilight,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",About three things I was absolutely positive.\...
7,11127.The_Chronicles_of_Narnia,The Chronicles of Narnia,"['Fantasy', 'Classics', 'Fiction', 'Young Adul...","Journeys to the end of the world, fantastic cr..."
...,...,...,...,...
52472,12395883-unbelievable,Unbelievable,"['Romance', 'Young Adult', 'Contemporary', 'Co...",Lilah Lopez Dreser's in town to take care of u...
52473,11492014-fractured,Fractured,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",The Fateful Trilogy continues with Fractured. ...
52474,11836711-anasazi,Anasazi,"['Mystery', 'Young Adult']","'Anasazi', sequel to 'The Thirteenth Chime' by..."
52475,10815662-marked,Marked,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",--READERS FAVORITE AWARDS WINNER 2011--Sixteen...
52477,10991547-daughter-of-helaman,Daughter of Helaman,"['Lds Fiction', 'Historical Fiction', 'Young A...",Fighting in Helaman's army is Keturah's deepes...

In [16]:
new_df.iloc[0].tags

"WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and once girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.Sixteen-year-old Katniss Everdeen regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead beforeâ€”and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love.Suzanne CollinsThe Hunger Games #14.33"

In [17]:
new_df['tags']

0        WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...
1        There is a door at the end of a silent corrido...
2        The unforgettable novel of a childhood in a sl...
4        About three things I was absolutely positive.\...
7        Journeys to the end of the world, fantastic cr...
                               ...
52472    Lilah Lopez Dreser's in town to take care of u...
52473    The Fateful Trilogy continues with Fractured. ...
52474    'Anasazi', sequel to 'The Thirteenth Chime' by...
52475    --READERS FAVORITE AWARDS WINNER 2011--Sixteen...
52477    Fighting in Helaman's army is Keturah's deepes...
Name: tags, Length: 23277, dtype: object

In [18]:
new_df.head(100)

,bookId,title,genres,tags
0,2767052-the-hunger-games,The Hunger Games,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",There is a door at the end of a silent corrido...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"['Classics', 'Fiction', 'Historical Fiction', ...",The unforgettable novel of a childhood in a sl...
4,41865.Twilight,Twilight,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",About three things I was absolutely positive.\...
7,11127.The_Chronicles_of_Narnia,The Chronicles of Narnia,"['Fantasy', 'Classics', 'Fiction', 'Young Adul...","Journeys to the end of the world, fantastic cr..."
...,...,...,...,...
221,6148028-catching-fire,Catching Fire,"['Young Adult', 'Dystopia', 'Fiction', 'Fantas...",SPARKS ARE IGNITING.FLAMES ARE SPREADING.AND T...
222,7736182-the-lost-hero,The Lost Hero,"['Fantasy', 'Young Adult', 'Mythology', 'Ficti...",JASON HAS A PROBLEM. He doesnâ€™t remember anyth...
223,7896527-throne-of-glass,Throne of Glass,"['Fantasy', 'Young Adult', 'Romance', 'Fiction...",This is a previously published edition of ISB...
224,6479259-spirit-bound,Spirit Bound,"['Young Adult', 'Vampires', 'Fantasy', 'Parano...",Salvation has its price . . .The words stunned...
225,10025305-clockwork-prince,Clockwork Prince,"['Fantasy', 'Young Adult', 'Romance', 'Paranor...","In the magical underworld of Victorian London,..."

In [19]:
import nltk

In [20]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\vinay\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\vinay\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\vinay\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\vinay\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\vinay\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\vinay\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [21]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [22]:
def stem(text):
    y=[]

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [23]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\vinay\AppData\Local\Temp\ipykernel_19536\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [24]:
new_df['tags'][11]

'second befor the earth is demolish to make way for a galact freeway, arthur dent is pluck off the planet by hi friend ford prefect, a research for the revis edit of the hitchhiker\' guid to the galaxi who, for the last fifteen years, ha been pose as an out-of-work actor.togeth thi dynam pair begin a journey through space aid by quot from the hitchhiker\' guid ("a towel is about the most massiv use thing an interstellar hitchhik can have") and a galaxy-ful of fellow travelers: zaphod beeblebroxâ€”th two-headed, three-arm ex-hippi and total out-to-lunch presid of the galaxy; trillian, zaphod\' girlfriend (formal tricia mcmillan), whom arthur tri to pick up at a cocktail parti onc upon a time zone; marvin, a paranoid, brilliant, and chronic depress robot; veet voojagig, a former graduat student who is obsess with the disappear of all the ballpoint pen he bought over the years.dougla adamsth hitchhiker\' guid to the galaxi #14.22'

In [25]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\vinay\AppData\Local\Temp\ipykernel_19536\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [26]:
new_df['tags'][11]

'second befor the earth is demolish to make way for a galact freeway, arthur dent is pluck off the planet by hi friend ford prefect, a research for the revis edit of the hitchhiker\' guid to the galaxi who, for the last fifteen years, ha been pose as an out-of-work actor.togeth thi dynam pair begin a journey through space aid by quot from the hitchhiker\' guid ("a towel is about the most massiv use thing an interstellar hitchhik can have") and a galaxy-ful of fellow travelers: zaphod beeblebroxâ€”th two-headed, three-arm ex-hippi and total out-to-lunch presid of the galaxy; trillian, zaphod\' girlfriend (formal tricia mcmillan), whom arthur tri to pick up at a cocktail parti onc upon a time zone; marvin, a paranoid, brilliant, and chronic depress robot; veet voojagig, a former graduat student who is obsess with the disappear of all the ballpoint pen he bought over the years.dougla adamsth hitchhiker\' guid to the galaxi #14.22'

In [27]:
new_df.head(200)

,bookId,title,genres,tags
0,2767052-the-hunger-games,The Hunger Games,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",win mean fame and fortune.los mean certain dea...
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",there is a door at the end of a silent corrido...
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,"['Classics', 'Fiction', 'Historical Fiction', ...",the unforgett novel of a childhood in a sleepi...
4,41865.Twilight,Twilight,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",about three thing i wa absolut positive. first...
7,11127.The_Chronicles_of_Narnia,The Chronicles of Narnia,"['Fantasy', 'Classics', 'Fiction', 'Young Adul...","journey to the end of the world, fantast creat..."
...,...,...,...,...
446,3950967-the-tales-of-beedle-the-bard,The Tales of Beedle the Bard,"['Fantasy', 'Fiction', 'Young Adult', 'Short S...",the tale of beedl the bard contain five richli...
450,12127810-the-house-of-hades,The House of Hades,"['Fantasy', 'Young Adult', 'Mythology', 'Ficti...",hazel stand at a crossroads. she and the remai...
451,33600.Shantaram,Shantaram,"['Fiction', 'India', 'Travel', 'Adventure', 'C...","""it took me a long time and most of the world ..."
455,1656001.The_Host,The Host,"['Young Adult', 'Science Fiction', 'Fantasy', ...",melani stryder refus to fade away. the earth h...
456,6411961-the-lost-symbol,The Lost Symbol,"['Fiction', 'Mystery', 'Thriller', 'Mystery Th...",what is lost...wil be foundin thi stun follow-...

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [29]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [30]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int64)

In [31]:
vector.shape

(23277, 5000)

In [32]:
vector[100]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [33]:
feature_names = cv.get_feature_names_out()

print(feature_names)

['000' '01' '02' ... 'ÙˆÙ‚Ø¯' 'ÙˆÙŠÙ„' 'ÙŠØªØ­Ø¯Ø«']

In [34]:
import sklearn
print(sklearn.__version__)

1.5.1

In [35]:
pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\vinay\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vinay\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001CFEA49DE80>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))': /simple/scikit-learn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001CFEA49C4D0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))': /simple/scikit-learn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001CFEA493F20>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))': /simple/scikit-learn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001CFEA4933E0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))': /simple/scikit-learn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001CFEA4AB080>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))': /simple/scikit-learn/

In [49]:
ps.stem('loving')

'love'

In [36]:
stem('seconds before the earth is demolished to make way for a galactic freeway, arthur dent is plucked off the planet by his friend ford prefect, a researcher for the revised edition of the hitchhiker\'s guide to the galaxy who, for the last fifteen years, has been posing as an out-of-work actor.together this dynamic pair begin a journey through space aided by quotes from the hitchhiker\'s guide ("a towel is about the most massively useful thing an interstellar hitchhiker can have") and a galaxy-full of fellow travelers: zaphod beeblebroxâ€”the two-headed, three-armed ex-hippie and totally out-to-lunch president of the galaxy; trillian, zaphod\'s girlfriend (formally tricia mcmillan), whom arthur tried to pick up at a cocktail party once upon a time zone; marvin, a paranoid, brilliant, and chronically depressed robot; veet voojagig, a former graduate student who is obsessed with the disappearance of all the ballpoint pens he bought over the years.douglas adamsthe hitchhiker\'s guide to the galaxy')

'second befor the earth is demolish to make way for a galact freeway, arthur dent is pluck off the planet by hi friend ford prefect, a research for the revis edit of the hitchhiker\' guid to the galaxi who, for the last fifteen years, ha been pose as an out-of-work actor.togeth thi dynam pair begin a journey through space aid by quot from the hitchhiker\' guid ("a towel is about the most massiv use thing an interstellar hitchhik can have") and a galaxy-ful of fellow travelers: zaphod beeblebroxâ€”th two-headed, three-arm ex-hippi and total out-to-lunch presid of the galaxy; trillian, zaphod\' girlfriend (formal tricia mcmillan), whom arthur tri to pick up at a cocktail parti onc upon a time zone; marvin, a paranoid, brilliant, and chronic depress robot; veet voojagig, a former graduat student who is obsess with the disappear of all the ballpoint pen he bought over the years.dougla adamsth hitchhiker\' guid to the galaxi'

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vector)

In [39]:
similarity[0]

array([1.        , 0.01981753, 0.08783787, ..., 0.046291  , 0.06099375,
       0.08247861])

In [40]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(13056, 0.30622360094038115),
 (3411, 0.2858630565057856),
 (16177, 0.2674702847616798),
 (140, 0.24990240093323157),
 (14538, 0.24770390755326446)]

In [41]:
def recommend(books):
    books_index = new_df[new_df['title'] == books].index[0]
    distances =  similarity[books_index]
    books_list  = sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]
    for i in books_list:
        print(new_df.iloc[i[0]].title)

In [42]:
recommend('To Kill a Mockingbird')

The Hunger Games Tribute Guide
The Ballad of Songbirds and Snakes
Guide to The Hunger Games
Mockingjay
Death

In [43]:
new_df[new_df['title'] == 'To Kill a Mockingbird'].index[0]

2

In [44]:
new_df.iloc[140].title

'Mockingjay'

In [45]:
import pickle

In [46]:
pickle.dump(new_df,open('books_list.pkl','wb'))

In [47]:
pickle.dump(new_df.to_dict(),open('books_dict.pkl','wb'))

In [48]:
pickle.dump(similarity,open('similarity.pkl','wb'))